<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Aula 209</title>
</head>
<body>
  <div id="app">
    <div>
      <p> {{nomeCompleto}} </p>
    </div>
    <div>=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=</div>
    <div>
      <select name="paises" id="paises" v-model="selecionado">
        <option v-for="pais in paises" :value="pais.name">
          {{pais.name}}
        </option>
      </select>
      <p>Capital: {{capital}}</p>
    </div>
  </div>
  <!--
    Você possui o nome e sobrenome do usuário em data,
    crie uma propriedade computed que retorne o nome completo
    
    Utilize a rest API para puxar as capitais dos paises
    Use um campo de select, onde o usuário pode selecionar o país.
    https://restcountries.com/v2/all

    Com uma função watch, mude a capital de acordo com o país selecionado:

    Ex de campo select:

    <select name="paises" id="paises" v-model="selecionado">
      <option v-for="pais in paises" :value="pais.name">
        {{pais.name}}
      </option>
    </select>
  -->

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        nome: 'Maicon',
        sobrenome: 'de Morais',
        paises: {},
        selecionado: '',
        capital: ''
      },
      watch: {
        selecionado(value) {
          const pais = this.paises.find(pais => pais.name === value)
          this.capital = pais.capital
        }
      },
      computed: {
        nomeCompleto() {
          return `${this.nome} ${this.sobrenome}`
        }
      },
      methods: {
        fetchCountry() {
          fetch(`https://restcountries.com/v2/all`)
            .then(response => response.json())
            .then(country => {
              this.paises = country
            })
        }
      },
      created() {
        this.fetchCountry()
      }
    })
  </script>
</body>
</html>